

/* Importamos las fuentes que queremos usar en caso de no querer descargarlas */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+MX:wght@100..400&display=swap');



/* Estilos globales para las partes más altas de la jerarquía, HTML, BODY , CONTENEDOR , etc*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: #ffa896;
  font-family: "Montserrat", sans-serif;
  font-weight: solid;
  height: 100%;
  width: 100%;
}

body .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  
}

.container .sub-container {
  max-width: 1200px;
  flex: 1;
  width: 100%;
  height: 100%;
  
  
}

/* A fin de no perder el escalonado de las clases nombro las clases en orden como si fueran "breadcrumbs" para acordarme del orden.*/

.container .sub-container .nav {
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px 5px black;
  background-color: #ff3a3a;
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 2px;
}

.container .sub-container .nav-image{

  margin-left: 20px;
}



.container .sub-container .nav .menu {
  display: flex;
  width: 100%;
  list-style: none;
  padding: 10px;
  gap: 16px;
  
}


.container .sub-container .nav .menu .active {
  background-color: rgb(183, 243, 144);
  
}



.container .sub-container .nav .menu>li {
  border: 1px solid black;
  border-radius: 10px;
  background-color: #ffa896;
  padding: 10px;
  font-weight: bold;
  

}

.container .sub-container .nav .menu>li a {
  text-decoration: none;
  transition: color 0.3s ease;
  color: black;

}

.container .sub-container .nav .menu>li a:hover {
  color: rgb(255, 255, 255);
}



/* Estilos para el contenido de las páginas Index y Contacto*/

.main {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  border-radius: 6px;
  padding: 4em;
  box-shadow: 5px 5px 5px black;
  background-color: #dab0c0;
  font-size: 1em;
  justify-content: space-between;
  min-height: 100vh;
  
}

.content {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background-color: #f7cdb2;
  border-radius: 5px;
  padding: 1em;
  width: 100%;
  gap: 1em;
  
}

.content .text {
  width: 70%;

}

.content .text article{

  line-height: 2;

}


/* Estilos para el contenido de la página aviso legal*/


.content .aviso {
  text-align: center;
  line-height: 2;

}


.content .aviso .listAviso {
 list-style: none;


}


/* Estilos para redimensionar las imagénes en las páginas producto y Index*/


.content .image {
  width: 30%;
  border: 1px solid black;
  border: 5px;
  
 
  
}

.content .image img {
  width:  100%;
  
}


.content .text a{

  text-decoration: none;
}


/* Estilos para la sección del footer*/

.footer {
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px 5px black;
  width: 100%;
  max-width: 1200px;
  margin-top: auto;
  background-color: #ff3a3a;
  
  

}

.footerElements {
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-weight: bold;
  padding: 10px;
}

.footerElements .redes {
  display: flex;
  list-style: none;
  justify-content: space-between;

}


.footer .footerElements .enlaceAviso a{
  text-decoration: none;
  transition: color 0.3s ease;
  color: black;
}

.footer .footerElements .enlaceAviso a:hover{
  color: rgb(255, 255, 255);
}



.redes li {
  display: inline-block;
  padding: 0em 1em 0em 0em;

}

.redes a {
  color: black;
}


/* Estilos para la sección de productos dentro de la página de productos*/


.productMain {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 3em;
  box-shadow: 5px 5px 5px black;
  justify-content: center;
  align-items: flex-start;
  font-size: 1em;
  background-color: #dab0c0;
  min-height: 100vh;
}

.productMain .product {
  flex: 1 1 calc(50% - 20px);
  display: flex;
  justify-content: center;
  max-width: calc(50% - 20px);

}

.productMain .product .card {
  background-color: rgb(22, 21, 21);
  border: 1px solid #ffffff;
  border-radius: 5px;
  max-width: 300px;
  text-align: center;
  width: 100%;
  border: solid 5px #c9ffb3;
}

.productMain .product .card img {
  width: 100%;
  height: 250px;
}

.product .card .cardElements {
  padding: 16px 8px 8px 8px;
}

.cardElements .tag {
  padding: 4px 8px;
  border: 1px solid #e5eaed;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
}


.cardElements .name {
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
  margin-top: 16px;
}

.cardElements .ingredientsList {
  font-size: 14px;
  color: #ffffff;
  line-height: 150%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style: none;
  padding: 5px;
 
}


.cardElements .productButton {
  border: none;
  padding: 12px 24px;
  border-radius: 50px;
  font-weight: 600;
  color: #000000;
  background-color: #a6f885;
  margin-top: 10px;
  cursor: pointer;
}


.cardElements .productButton:focus,
.cardElements .productButton:hover {
  background-color: #fa4011;
  color: #e0efff;
}




/* Estilos para la sección de contacto dentro de la página de presupuestos*/


.contactMain {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  border: 1px solid black;
  padding: 2em;
  box-shadow: 5px 5px 5px black;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  background-color: #b5f7b8;
  
}

.contactMain .contactArea {
  max-width: 800px;
  flex: 1 1 600px;
  min-height: 100vh;
}


.contactArea h4 {
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  
}

.contactArea fieldset {
  margin-bottom: 10px;
  border: none;

}

.contactArea form {
  background-color: rgb(255, 104, 98);
  padding: 5px 5px 5px 10px;
  border: solid 3px white;
  border-radius: 5px;
  margin: 0px 0px 20px 0px;


}

.contactArea input, 
.contactArea textarea {
  background-color: white;
  border-radius: 10px;
  border: none;
  margin-bottom: 10px;
  margin-top: 5px;
  box-sizing: border-box;
  color: #0c0c0c;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}


.contactArea button{
  padding: 8px;
  background-color: #81eaee;
  border-radius: 5px;
  border: none;
  font-weight: bolder;
  transition: color 0.3s ease;
}


.contactArea button:hover{
  color: white;
}

.contactArea .checkboxSection{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
  
}

.contactArea .checkboxSection .checkSquare{
  width: 30px;
  height: 20px;
  margin-right: 10px;
  accent-color: purple;
  cursor: pointer;
  
 
}


.contactArea  .sendButton{
  display: flex;
  align-items: center;
  justify-content: center;
 
}


.content .text .infoRestaurante{

  text-align: center;
}


.content .image .maps{

  border: solid 3px white;
  border-radius: 4px;
}




/* aqui van los parametros para hacer la pagina adaptable a la vista de la mayoria de las pantallas de diferentes dispositivos   */

@media (max-width: 768px) {

  

  .container .sub-container .nav {
    
    gap: 0px;
  }

  .container .sub-container .nav .menu li {
    font-size: 12px;
    padding: 3px;
    background-color: #ffa896;
  }

  .content {
    flex-direction: column;
    align-items: center;
  }

  .content .text,
  .content .image {

    width: 100%;

  }

  .productMain .product {
    flex: 1 1 100%;
    max-width: 100%;
  }

}



