@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+MX:wght@100..400&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: #ffa896;
  font-family: "Montserrat", sans-serif;
  font-weight: solid;
  height: 100%;
  width: 100%;
}

body .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.container .sub-container {
  max-width: 1200px;
  flex: 1;
  width: 100%;
  height: 100%;
  
  
}

.container .sub-container .nav {
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px 5px black;
  background-color: #ff3a3a;
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 2px;
}

.container .sub-container .nav-image{

  margin-left: 20px;
}



.container .sub-container .nav .menu {
  display: flex;
  width: 100%;
  list-style: none;
  padding: 10px;
  gap: 16px;
  
}


.container .sub-container .nav .menu .active {
  background-color: rgb(183, 243, 144);
  
}



.container .sub-container .nav .menu>li {
  border: 1px solid black;
  border-radius: 10px;
  background-color: #ffa896;
  padding: 10px;
  font-weight: bold;
  

}

.container .sub-container .nav .menu>li a {
  text-decoration: none;
  transition: color 0.3s ease;
  color: black;

}

.container .sub-container .nav .menu>li a:hover {
  color: rgb(255, 255, 255);
}

.main {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  border-radius: 6px;
  padding: 4em;
  box-shadow: 5px 5px 5px black;
  background-color: #dab0c0;
  font-size: 1em;
  justify-content: space-between;
}

.content {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background-color: #f7cdb2;
  border-radius: 5px;
  padding: 1em;
  width: 100%;
  gap: 1em;
}

.content .text {
  width: 70%;

}

.content .text article{

  line-height: 2;

}





.content .aviso {
  text-align: center;
  line-height: 2;

}



.content .aviso .listAviso {
 list-style: none;


}


.content .image {
  width: 30%;
  border: 1px solid black;
  border: 5px;
  
}

.content .image img {
  width: 100%;
 
}


.content .text a{

  text-decoration: none;
}



.footer {
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px 5px black;
  width: 100%;
  max-width: 1200px;
  margin-top: auto;
  background-color: #ff3a3a;
  

}

.footerElements {
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-weight: bold;
  padding: 10px;
}

.footerElements .redes {
  display: flex;
  list-style: none;
  justify-content: space-between;

}


.footer .footerElements .enlaceAviso a{
  text-decoration: none;
  transition: color 0.3s ease;
  color: black;
}

.footer .footerElements .enlaceAviso a:hover{
  color: rgb(255, 255, 255);
}



.redes li {
  display: inline-block;
  padding: 0em 1em 0em 0em;

}

.redes a {
  color: black;
}


/* Producto */


.productMain {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 3em;
  box-shadow: 5px 5px 5px black;
  justify-content: center;
  /* centers items horizontally */
  align-items: flex-start;
  /* centers items vertically */
  font-size: 1em;
  background-color: #dab0c0;
 
}

.productMain .product {
  flex: 1 1 calc(50% - 20px);
  display: flex;
  justify-content: center;
  max-width: calc(50% - 20px);

}

.productMain .product .card {
  background-color: rgb(22, 21, 21);
  border: 1px solid #ffffff;
  border-radius: 5px;
  max-width: 300px;
  text-align: center;
  width: 100%;
  border: solid 5px white;
}

.productMain .product .card img {
  width: 100%;
}

.product .card .cardElements {
  /* Add space around the details */
  padding: 16px 8px 8px 8px;
}

/* Style div elements that have class equal to tag */
.cardElements .tag {
  padding: 4px 8px;
  border: 1px solid #e5eaed;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 600;
  color: #788697;
}

/* Style div elements that have class equal to name */
.cardElements .name {
  font-size: 24px;
  font-weight: 600;
  color: #788697;
  margin-top: 16px;
}

/* Style p element */
.cardElements .ingredientsList {
  font-size: 14px;
  color: #7f8c9b;
  line-height: 150%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style: none;
  padding: 5px;
 
}

/* Style button element */
.cardElements .productButton {
  border: none;
  padding: 12px 24px;
  border-radius: 50px;
  font-weight: 600;
  color: #0077ff;
  background-color: #e0efff;
  margin-top: 10px;
  cursor: pointer;
}


/* Add style when button is focused or hovered */
.cardElements .productButton:focus,
.cardElements .productButton:hover {
  background-color: #0077ff;
  color: #e0efff;
}




/*  contact area details   */


.contactMain {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  border: 1px solid black;
  padding: 2em;
  box-shadow: 5px 5px 5px black;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  background-color: #ffffff;
  
}

.contactMain .contactArea {
  max-width: 800px;
  flex: 1 1 600px;
  
}


.contactArea h4 {
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  
}

.contactArea fieldset {
  margin-bottom: 10px;
  border: none;

}

.contactArea form {
  background-color: rgb(180, 137, 184);
  padding: 5px 5px 5px 10px;
  border-radius: 5px;
  margin: 0px 0px 20px 0px;


}

.contactArea input, 
.contactArea textarea {
  background-color: white;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
  box-sizing: border-box;
  color: #0c0c0c;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.contactArea label {
  padding-bottom: 10px;
}

.contactArea button{
  padding: 8px;
  background-color: #81eaee;
  border-radius: 5px;
  border: none;
  font-weight: bolder;
  transition: color 0.3s ease;
}


.contactArea button:hover{
  color: white;
}

.contactArea .checkboxSection{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
  
}

.contactArea .checkboxSection .checkSquare{
  width: 30px;
  height: 20px;
  margin-right: 10px;
  accent-color: purple;
  cursor: pointer;
  
 
}


.contactArea  .sendButton{
  display: flex;
  align-items: center;
  justify-content: center;
 
}


/* aqui van los parametros para hacer la pagina adaptable a la vista de la mayoria de las pantallas de diferentes dispositivos        */

@media (max-width: 768px) {

  .main {
    border-radius: 0px;
  }

  .container .sub-container .nav {
    border-radius: 0px;
  }

  .container .sub-container .nav .menu li {
    font-size: 12px;
    padding: 0;
    background-color: transparent;
    border: none;
  }

  .content {
    flex-direction: column;
    align-items: center;
  }

  .content .text,
  .content .image {

    width: 100%;

  }

  .productMain .product {
    flex: 1 1 100%;
    max-width: 100%;
  }

}



