<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Burger Labs - Contacto</title>
  <link rel="icon" type="image/x-icon" href="../images/burger-removebg-preview.png">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="container">
    <div class="sub-container">

      <nav class="nav">
        <div class="nav-image">
          <img src="../images/burger-removebg-preview.png" alt="logo">
        </div>
        <ul class="menu">

          <li><a href="../index.html">Inicio</a></li>
          <li><a href="./productos.html">Productos</a></li>
          <li><a href="./presupuestos.html">Presupuestos</a></li>
          <li class="active"><a href="./contact.html">Contacto</a></li>
        </ul>
      </nav>
      <div class="main">
        <div class="content">
          <div class="text">
            <article class="infoRestaurante">
              <h2>Datos de Contacto</h2>

              <h4>Burger Labs restauración de cómida rápida.</h4>

              <h4>Carrer de Balmes, 19A, 12600 La Vall d'Uixó, Castelló.</h4>

              <h4>Número de télofono: +34 661 23 34 XX / +34 611 23 32 XX</h4>
            </article>
          </div>
          <div class="image">
            <img src="../images/maps.png" alt="problems" width="800px" height="300px" class="maps">
          </div>
        </div>
      </div>

    <div class="footer">
      <footer>
        <ul class="footerElements">
          <li>&#169;Burger Labs 2025</li>
          <li>
            <ul class="redes">
              <li><a href="https://www.facebook.com/" ><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://x.com/" ><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://linkedin.com" ><i class="fa fa-linkedin"></i></a></li>
              <li><a href="https://instagram.com" ><i class="fa fa-instagram"></i></a></li>
            </ul>
          </li>
          <li class="enlaceAviso"><a href="./avisolegal.html">Aviso Legal</a></li>
        </ul>
      </footer>
    </div>
  </div>




</body>

</html>