<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Burger Labs - Contacto</title>
  <link rel="icon" type="image/x-icon" href="../images/burger-removebg-preview.png">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="container">
    <div class="sub-container">

      <nav class="nav">
        <div class="nav-image">
          <img src="../images/burger-removebg-preview.png" alt="logo">
        </div>
        <ul class="menu">

          <li><a href="../index.html">Inicio</a></li>
          <li><a href="./productos.html">Productos</a></li>
          <li><a href="./presupuestos.html">Presupuestos</a></li>
          <li class="active"><a href="./contact.html">Contacto</a></li>
        </ul>
      </nav>
      <div class="main">
        <div class="content">
          <div class="text">
            <article>
              <h2>Historia</h2>

              <p>Como todo negocio los comienzos son duros, propietarios llenos de entusiasmo de afrontar el desafio sumado de numerosos momentos de extenuación, estrés y resolución de problemas.</p>

              <p>Como bien refleja Burger Labs sigue el mantra del ensayo-error hasta que damos con la técnica y combinación adecuada para dar con las hamburguesas que despierten la alegría de nuestros comensales a la hora de satisfacer sus ganas de hambre.</p>

              <p>Cansados de ver como numerosos negocios dentro de la restauración no ofrecen los platos que deseamos , decidimos emprender nosotros con nuestra propia solución y abrir Burger Labs.</p>
            </article>
          </div>
          <div class="image">
            <img src="../images/problems.jpg" alt="problems" width="800px" height="400px">
          </div>
        </div>
      </div>

    <div class="footer">
      <footer>
        <ul class="footerElements">
          <li>&#169;Burger Labs 2025</li>
          <li>
            <ul class="redes">
              <li><a href="https://www.facebook.com/" ><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://x.com/" ><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://linkedin.com" ><i class="fa fa-linkedin"></i></a></li>
              <li><a href="https://instagram.com" ><i class="fa fa-instagram"></i></a></li>
            </ul>
          </li>
          <li class="enlaceAviso"><a href="./avisolegal.html">Aviso Legal</a></li>
        </ul>
      </footer>
    </div>
  </div>




</body>

</html>