<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Burger Labs - Productos</title>
  <link rel="icon" type="image/x-icon" href=".../images/burger-removebg-preview.png">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="container">
    <div class="sub-container">

      <nav class="nav">
        <div class="nav-image">
          <img src="../images/burger-removebg-preview.png" alt="logo">
        </div>
        <ul class="menu">
          <li><a href="../index.html">Inicio</a></li>
          <li><a href="./">Productos</a></li>
          <li><a href="./contact.html">Contacto</a></li>
        </ul>
      </nav>
      
      <div class="productMain">
        <div class="product">
          <div class="card">
            <img src="../images/frankie.png" alt="frankie">
            <!-- Este div engloba todo los elemenetos dentro la ficha del producto  -->
            <div class="cardElements">
              <!-- Ponemos las etiquetas dentro de elementos span -->
              <span class="tag">Smash</span>
              <span class="tag">Crujiente</span>
              <div class="name">Frankie</div>
              <ul class="ingredientsList">
                <li>Pan Brioche de Mantequilla</li>
                <li>2 Medallones de ternera de 90 gramos</li>
                <li>Queso Cheddar</li>
                <li>Pepinillos</li>
                <li>Salsa Frankie</li>
              </ul>
              <button class="productButton">Añadir a la cesta</button>
            </div>
          </div>
        </div>

        <div class="product">
          <div class="card">
            <img src="../images/duquesa.jpg" alt="duquesa">
            <div class="cardElements">
              <span class="tag">Jugosa</span>
              <span class="tag">Intensa</span>
              <div class="name">Duquesa</div>
              <ul class="ingredientsList">
                <li>Pan de calabaza</li>
                <li>2 medallones de ternera 100 gramos, compuesta por una mezcla de entraña y costilla argerntina</li>
                <li>Queso raclette</li>
                <li>Panceta</li>
                <li>Champiñones</li>
              </ul>
              <button class="productButton">Añadir a la cesta</button>
            </div>
          </div>
        </div>

        <div class="product">
          <div class="card">
            <img src="../images/moab.jpg" alt="moab">
            <div class="cardElements">
              <span class="tag">Contundente</span>
              <span class="tag">Obscena</span>
              <div class="name">M.O.A.B</div>
              <ul class="ingredientsList">
                <li>2 medallones de 200g de ternera</li>
                <li>Queso cheddar</li>
                <li>Medallon de queso frito ahumado</li>
                <li>Salsa barbacoa ligeramente picante</li>
              </ul>
              <button class="productButton">Añadir a la cesta</button>
            </div>
          </div>
        </div>
        <div class="product">
          <div class="card">
            <img src="../images/newyork.jpg" alt="newyork">
            <div class="cardElements">
              <span class="tag">Picante</span>
              <span class="tag">Semi Dulce</span>
              <div class="name">New York</div>
              <ul class="ingredientsList">
                <li>2 medallones de 90 gramos de ternera</li>
                <li>Queso cheddar</li>
                <li>Costilla de ternera desmigada</li>
                <li>Salsas mayo chipotle y sweet BBQ</li>
              </ul>
              <button class="productButton">Añadir a la cesta</button>
            </div>
          </div>

        </div>
        <div class="product">
          <div class="card">
            <img src="../images/salvation.jpg" alt="salvation">
            <div class="cardElements">
              <span class="tag">Big Smack</span>
              <span class="tag">Salado</span>
              <div class="name">Salvation</div>
              <ul class="ingredientsList">
                <li>2 medallones de ternera 113 gramos</li>
                <li>Queso Cheddar</li>
                <li>Bacon Crujiente</li>
                <li>Cebolla roja</li>
                <li>Salsa salvation</li>
              </ul>
              <button class="productButton">Añadir a la cesta</button>
            </div>
          </div>

        </div>
        <div class="product">
          <div class="card">
            <img src="../images/Singular.jpg" alt="singular">
            <div class="cardElements">
              <span class="tag">Especial</span>
              <span class="tag">Curada</span>
              <div class="name">Singular</div>
              <ul class="ingredientsList">
                <li>200g de ternera vieja madurada 60 días</li>
                <li>Queso Cheddar</li>
                <li>BBQ de mamá</li>
                <li>Crema de camembert</li>
                <li>Cebolla caramelizada</li>
              </ul>
              <button class="productButton">Añadir a la cesta</button>
            </div>
          </div>
        </div>
      </div>

      <div class="footer">
        <footer>
          <ul class="footerElements">
            <li>&#169;Burger Labs 2024</li>
            <li>
              <ul class="redes">
                <li><a href="#" target="_self"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#" target="_self"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#" target="_self"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#" target="_self"><i class="fa fa-instagram"></i></a></li>
              </ul>
            </li>
            <li class="enlaceAviso"><a href="./avisolegal.html">Aviso Legal</a></li>
          </ul>
        </footer>
      </div>
    </div>
  </div>

</body>

</html>